{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <span class="md-headline">Dockerfile: {{ config.name }}</span>
        <p>{{ config.description }}</p>
        <d-dockerfile :config="{{ config|json_encode|e('html_attr') }}" :stages="{{ stages|json_encode|e('html_attr') }}">
        </d-dockerfile>
    </div>
{% endblock %}
