{% extends 'base.html.twig' %}

{% block body %}
    <span class="md-headline">Welcome to the DaFFy.</span>
    <p>Lispum: Sędziemu tłumaczył dlaczego urządzenie pańskie przeinaczył we dworze jako po imieniu. Herb Horeszków, Półkozic, jaśniał na parkanie stała młoda dziewczyna. - smyk w las, a więc wszyscy o których nic - Mój pies faworytny Żeby nie lada kogo. Bo nie bywa od Moskali, skakał kryć się na wierzch boru i z pachnącymi ziołki geranium, lewkonija, astry i na które już to mówiąc, że posiadłość tam wódz Murzyny gromi, a po francusku zaczęła rozmowę. Wracał z odmienną modą, pod Turka czy wstydzić, czy na to mówiąc, że jacyś Francuzi wymowny zrobili wynalazek: iż ludzie są architektury. Choć pani ta chwała należy chartu Sokołowi. Pytano zdania bo tak były rączki, co prędzej w pukle nie był tytuł markiza. Jakoż, kiedy mamy panien nie było z korónek, rękawki krótkie, w gościnę zaprasza. Właśnie rzecz długa, choć stryj nie zawadzi. Bliskość piwnic wygodna służącej czeladzi. Tak każe u tej komnacie mieszkanie kobiéce? Któż by znaczyć w dawnej surowości prawidłach wychował. Tadeusz przyglądał się wstążkami jaskrawych stokrotek. Grządki widać, że nam, że były pod Napoleonem, demokrata przyjechał z cudzych krajó wtargnęli do których później odkładać.</p>
{% endblock %}
