{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <span class="md-headline">Docker-compose</span>
        <div class="services">
            <d-service-list></d-service-list>
        </div>
    </div>
{% endblock %}
