{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <span class="md-headline">Operating systems</span>
        <d-os-list :package-managers="{{ packageManagers|json_encode|e('html_attr') }}">
        </d-os-list>
    </div>
{% endblock %}
