{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="color: #3c51cc; fill: #3c51cc;"><svg style="height: 24px; width: 24px;">
            <use xlink:href="{{ asset('build/images/sprites.svg') }}#daffy-logo-head"></use>
        </svg> DaFFy, the Dockerfile Factory</h1>
    <svg>
        <use xlink:href="{{ asset('build/images/sprites.svg') }}#daffy-logo"></use>
    </svg>
{% endblock %}
